{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  <h1 class="text-center my-4">Welcome to the Book Store</h1>
  
  {% include "search.html" %} <!-- Include search form -->

  <!-- Conditionally render cart if user is logged in -->
  {% if session.get('user_id') %}
    <h3>Your Cart</h3>
    {% if cart_items %}
    {% include 'cart.html' %}
  
    {% else %}
      <p>Your cart is empty.</p>
    {% endif %}
  {% endif %}
  {% include 'crousle.html' %}

{% endblock %}
